#main-sec {
    display: grid;
    grid-template-columns: 64% 34%;
    column-gap: 2%;
    margin-bottom: 50px;
}
#right-sidebar #spent-time {
    height: 80px;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047ec;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#right-sidebar #spent-time p {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #6047ec;
}

#right-sidebar #bookmarked-lists {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 20px;
}
#right-sidebar #bookmarked-lists h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #111111;
}
#right-sidebar #bookmarked-lists .bookmarked-name {
    margin-top: 15px;
    border-radius: 8px;
    background: #ffffff;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #111111;
}
@media only screen and (max-width: 540px) {
    #main-sec {
        display: block;
    }
    #right-sidebar {
        margin-top: 45px;
    }
}
